<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Rhyme or Reason</title>
      
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <!-- Google Fonts Roboto -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"/>
        <!-- Material Design Bootstrap -->
        <link rel="stylesheet" href="/public/css/mdb.lite.min.css"/>
        <!-- My styles -->
        <link rel="stylesheet" href="/public/css/style.css"/>
    </head>
    <body>
        <% if(alerts.success){ %> <% alerts.success.forEach(function(msg){ %>
        <div class="alert alert-success mb-0">
          <%= msg %>
        </div>
        <% }); %> <% } %> <% if(alerts.error){ %> <%
        alerts.error.forEach(function(msg){ %>
        <div class="alert alert-danger mb-0">
          <%= msg %>
        </div>
        <% }); %> <% } %> <% if(alerts.autherror){ %> <%
        alerts.autherror.forEach(function(msg){ %>
        <div class="alert alert-danger mb-0">
          Your <%= msg.param %> has <%= msg.msg %>
        </div>
        <% }); %> <% } %>
        <!--Navbar-->
        <nav class="navbar sticky-top navbar-dark mb-4" style="background-color: #B46636;"> 

            <!-- Navbar brand -->
            <a class="navbar-brand mx-auto pl-5" href="/">Rhyme or Reason</a>
        
            <!-- Collapse button -->
            <button class="navbar-toggler second-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23"
            aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation">
            <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
            </button>
        
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent23" style="text-align: center;">
        
            <!-- Links -->
            <ul class="navbar-nav mx-auto pr-2">
                <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <% if(currentUser){%>
                <li class="nav-item">
                <a class="nav-link" href="/dashboard">Profile</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/user/logout">Logout</a>
                </li>
                <% }else { %>
                <li class="nav-item">
                <a class="nav-link" href="/user/register">Register</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/user/login">Login</a>
                </li>
                <% } %>
            </ul>
            <!-- Links -->
        
            </div>
            <!-- Collapsible content -->
        
        </nav>
        <!--/.Navbar-->

        <%- body %>

        <!-- jQuery, Bootstrap & Popper -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- Additional scripts -->
        <script>
            $(document).ready(function () {
            $('.second-button').on('click', function () {
                $('.animated-icon2').toggleClass('open');
            });
            });
        </script>
    </body>
</html>